table {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-bottom: 25px;
  font-size: 14px;
}

.mat-column-select {
  overflow: initial;
}

th.mat-sort-header-sorted {
  color: black;
}
